
.cv{
    background-color: #e6d9f8e7;
    border: 1px solid var(--secondary-color);
    border-radius:100% ;
}

.link{
    text-decoration: none;
    color: var(--secondary-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
a:hover{
    color: var(--primary-color);
}
.text:hover{
    color: var(--primary-color);
}
.text{
    font-size:1rem;
}
.image{
    object-fit: cover;
    overflow: hidden;
    border-radius: 50% 0 50%;
    opacity: 0.8;
    /* -webkit-box-shadow: 1px 1px 3px 0px rgba(104,58,183,1);
    -moz-box-shadow: 1px 1px 3px 0px rgba(104,58,183,1);
    box-shadow: 1px 1px 3px 0px rgba(104,58,183,1); */
    /* background-color: var(--accent-color);  */
}